@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --extra-light-blue: #e6f7ff;
  --light-blue: #1890ff;
  --blue: #1464b0;
  --white: #fff;
  --gray: #7e7e7e;
  --light-gray: #d9d9d9;
  --medium-gray: #bfbfbf;
  --extra-light-gray: #f5f5f5;
  --dark-gray: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
