@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --extra-light-blue: #e6f7ff;
  --light-blue: #1890ff;
  --blue: #1464b0;
  --white: #fff;
  --gray: #7e7e7e;
  --light-gray: #D9D9D9;
  --medium-gray: #BFBFBF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
